#shopping h2 {
	font-weight: 500;
	padding-top:25px;
	padding-left: 315px;
	margin-bottom: 0;
	letter-spacing: 1.5px;
}
#shopping hr {
 	border: 1px solid #bfbfbf;
    margin-left: 250px;
    margin-right: 250px;
}

