/* bag page
-----------------------------------------*/
/*#shopping h2 {
	font-weight: 500;
	padding-top:25px;
	padding-left: 25%;
	margin-bottom: 0;
	letter-spacing: 1.5px;
}
#shopping hr {
 	border: 1px solid #bfbfbf;
    margin-left: 250px;
    margin-right: 250px;
}

#shopping {
	border-right: thick solid ##bfbfbf
}*/


/* locations page
-----------------------------------------*/
#locations h2 {
	font-weight: 500;
	padding-top:25px;
	padding-left: 25%;
	margin-bottom: 0;
	letter-spacing: 1.5px;
	text-align: left;
	
}

#locations hr {
	border: 1px dotted #ededed;
	margin-left: 100px;
	margin-right: 100px;
}

#locations thead tr th{
	text-align: left;
	letter-spacing: 2px;
	font-weight: 500;
	font-size: 14px;
}

strong {
	color: #000;
}

table {
	padding-left: 23%;
}

tr{
	vertical-align: top;
	font-size: 12px;
	color: #5b5b5b;
}

td {
	padding: 20px;
	padding-left: 0px;
	padding-right: 50px;
	width: 250px;
}



/* bag page
-----------------------------------------*/

#shoppingbag h2 {
	font-weight: 500;
	padding-top:25px;
	padding-left: 20%;
	margin-bottom: 0;
	letter-spacing: 1.5px;
	text-align: left;
	
}

#shoppingbag hr {
	border: 1px dotted #ededed;
	margin-left: 100px;
	margin-right: 100px;
}

#shoppingbag thead tr th{
	text-align: left;
	letter-spacing: 2px;
	font-weight: 500;
	font-size: 14px;
	padding: 5px;
	padding-left: 10px;
}

#shoppingbag table{
	border-collapse: collapse;
	width: 60%;
	border-width: 5px;
	margin-left: 20%;
	padding-left: 10px;
}

#shoppingbag tbody td {
	padding: 10px;
}

#shoppingbag table, th, td {
	border: 1px solid #c1c1c1;
}


.column_1 {
	width: 57%;
}

.column_2 {
	width: 23%;
}



/* contact page
-----------------------------------------*/

#contactpage h2 {
	font-weight: 500;
	padding-top:25px;
	padding-left: 23%;
	margin-bottom: 0;
	letter-spacing: 1.5px;
	text-align: left;
}

#contactpage td h2 {
	font-weight: 450;
	font-size: 16px;
	padding-left: 0px;
	margin-bottom: 0;
	letter-spacing: 1.5px;
	text-align: left;
	color: #000;
}

#contactpage td {
	font-size: 13.5px;
	border: none;
}

#contactpage hr {
	border: 1px dotted #ededed;
	margin-left: 100px;
	margin-right: 100px;
}

#contactpage thead tr th{
	text-align: left;
	letter-spacing: 2px;
	font-weight: 500;
	font-size: 14px;
}

#contactpage td{
	width: 350px;
}


