
form, label {
	display: block; 
	margin-top: 1rem;
	font-size: 0.8rem;
}

form input, form textarea {
	display: block;
	font-size: 0.7rem;
	padding: 0.25rem;
	border: 0.1rem solid #999; 
}

form input:hover, form textarea:hover {
	border-color: #bcce7c;
}

form textarea {
	width: 20rem;
	height: 12rem;
}

input {
	width: 15rem;
}

figure {
	text-transform: uppercase;
	padding-left: 7.5rem;
	word-spacing: 5px;
}

#shipping {
	margin-left: 10rem;
}

#billing {
	margin-left: 3rem;
	width: 100%;
}

#checkout_btn button {
	width: 13rem;
	background-color: black;
	color: white;
	border: none;
	padding: 5px;
	padding-left: 30px;
	padding-right: 30px;
	margin-top: 30px;
	margin-bottom: 150px;
}

@media (max-width: 534px) {
	#shipping {
		width:100%;
		margin-left: auto;
	}
}


@media (max-width: 1087px) {
	#billing {
		width:100%;
		margin: auto;
	}
}

@media (max-width: 440px) {
	#status {
		width: 100%;
		padding-left: 0rem;
		
		margin: auto;
	}
}


