#locator h2 {
	font-weight: 500;
	padding:25px;
	padding-left: 23%;
	letter-spacing: 1.5px;
}

.col-1of2 img {
	padding-right: 285px;
}

.grid {
	width: 500px;
	
	margin-left: auto;
	margin-right: auto;
}