/* body
-----------------------------------------*/
body {
    font-family: Avenir, Arial, sans-serif;
    color: #000;
}

h2 {
    font-family: Avenir, Arial, sans-serif;
    font-size: 20px;
    font-weight: 600;

}




/* links
-----------------------------------------*/

a:link {
    text-decoration:none;
    color: #000;
}
a:visited {
    text-decoration:none;
}
a:hover {
    text-decoration:none;
    color: #8a8a8a;
}
a:active {
    text-decoration:none;
}



/* Header with logo
-----------------------------------------*/

#bag {
    float: right;
    padding-right: 100px;
    font-family: Avenir;
    font-size: 12px;
    }

#logo {
    text-align: center;
    padding-top: 20px;
    height: 100px;
}

#logo img {
    height: 100px;
    padding:15px;
    position: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

#logo hr {
    border: 1px solid #bfbfbf;
    margin-left: 100px;
    margin-right: 100px;
}

#searchbox {
    display: block;
    position: relative;
    width: 91.5%;
    padding-bottom: 25px;
    padding-top: 1px;
}

#search .field {
    float: right;
    margin: 5px 0 0 8px;
    color: #858585;
    text-indent: 4px;
    width: 130px;
    height: 20px;
    line-height: 18px;
    padding:0;
    border: 1px solid #c8c8c8;
    background: url(../images/searchicon.png) no-repeat;
    background-position: right;
}


/* Menu placement
------------------------------------------*/
#mainMenu {
    display: block;
    text-align: center;
    padding-left: 1px;
    margin-left: 100px;
    margin-right: 100px;
}
#mainMenu > li {
    display: inline-block;
    
}
#mainMenu li a {
    display: block; /*display as blocks*/
    height: 2em;
    line-height: 2em;
    padding: 0 3em;
    text-decoration: none;
}
#mainMenu ul {
    position: absolute;
    display: none;
    z-index: 999; /*prevents menu from showing behind other elements*/
}
#mainMenu ul li a {
    /*width: 180px;*/
    padding: 0;
    text-align: left;
    
}
#mainMenu li:hover ul {
    display: block;
    border: 1px gray solid;
    width: 180px;
}

/* Main menu
------------------------------------------*/
#mainMenu {
    font-family: Avenir;
    font-size: 12px;
    background: #ffffff;
    border:1px solid #bbbdc0;
    border-width: 1.5px 0;
    list-style: none;
}
#mainMenu > li > a {
    color: #000;
    font-weight: bold;
}
#mainMenu > li:hover > a {
    background: #f1f1f2;
    color: #bfbf38;
}
 
/* Submenu
------------------------------------------*/
#mainMenu ul {
    list-style: none;
    background: #ffffff;
}
#mainMenu ul li a {
    color: #000;
}
#mainMenu ul li:hover a {
    background: #ecea65;

    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    
    text-align: left;
    padding-left: 40px;
}



