th {
	border-bottom: 1px solid #c1c1c1;
	border-collapse: collapse;
	padding-top: 50px;
}

td {
	height: 50px;
	width: 20rem;
}

th, td {
	text-align: center;
}

#checkout_btn button {
	background-color: black;
	color: white;
	border: none;
	padding: 5px;
	padding-left: 30px;
	padding-right: 30px;
	margin-top: 30px;
	margin-bottom: 150px;
}
